certifi==2021.10.8
click==8.0.3
colorama==0.4.4
dlib
Flask==2.0.2
importlib-metadata==4.9.0
imutils==0.5.4
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
numpy==1.21.4
opencv-contrib-python-headless
Pillow==8.4.0
python-vlc==3.0.12118
typing_extensions==4.0.1
Werkzeug==2.0.2
wincertstore==0.2
zipp==3.6.0
gunicorn
